.login {
  text-align: center;
  width: 100%;
  background-image: url('../../assets/Spirited-2.jpg');
  background-size: cover;
}

.home-block {
  width: 800px;
  height: 300px;
  background-color: rgba(255,255,255,0.5);
  margin: 10px;
  margin-left: calc(50% - 150px);
}

h1 {
  margin: 0;
  float: left;
}

input {
  width: 178px;
  padding: 10px;
  height: 10px;
  margin: 10px;
}

.post-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-input {
  display: flex;
  flex-direction: row;
}

.name-input {
  color: purple;
}

.char-input {
  color: goldenrod;
}

.cont-input {
  color: teal;
  width: 400px;
  height: 100px;
  display: block;
}
